:root {
    --primary-font: 'Roboto',sans-serif;
    --title-font: 'Raleway', sans-serif;
    --primary-accent-color:#4d5ae5;
    --offer-color:#2e2f42;
    --useful-color:#434455; 
    --background-color:#FFFFFF;
    --paragraph-color:#F4F4FD;
}

body{
font-family: 'Roboto', sans-serif;
color:var(--useful-color);
background-color:var(--background-color)
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.navigation {
    display: flex;
    align-items: center;
}

.comm {
    font-style: normal;
}

.comm .mail {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--useful-color);
}

.logod{
    display: flex;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.comm .mail:hover,
.comm .mail:focus {
    color: #404bbf;
}

.studio{
    color: var(--offer-color)
}

.logo{
    font-family: "Raleway",sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--primary-accent-color);
    text-decoration: none;
    margin-right: 76px;

}
.link{
text-decoration: none;
}

.tsec{
    padding-bottom: 120px;
}

.list {
    list-style: none;
    display: flex;
    gap: 40px;
}

.icon{
    display: flex;
    gap: 24px;
}

.layb{
    width: calc((100% - 3 * 16px) / 3);
}

.list .src {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--offer-color);
    text-decoration: none;
    padding: 24px 0;
}

.list .src:hover,
.list .src:focus {
    color: #404bbf;
}

.mheader {
    border-bottom: 1px solid #e7e9fc;
}

.purch{
    background-color:var(--offer-color);
    padding: 188px 0;
}

.head{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff; 
    max-width: 496px;

}

.customb{
    background-color: #4D5AE5;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}
.portb{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:var(--primary-accent-color);
    background-color:var(--paragraph-color);
    cursor: pointer;
}

.list .portb:hover{
color: #FFFFFF;
background-color: #404BBF;
}
.list .portb:focus{
color: #FFFFFF;
background-color:#404BBF;
}

.customb:hover, .customb:focus{
 background-color: #404BBF;
}

.wawd{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:var(--offer-color);
    margin-bottom: 72px;

}

.down{
background-color:var(--offer-color)
}
.para{
    line-height: 1.5;
    color:var(--paragraph-color);
    letter-spacing: 0.02em;
}

.studioo{
    color:var(--paragraph-color)
}


.listb {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--offer-color);
}

.parag {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--useful-color)
}

.sect{
    background-color: #F4F4FD;
}

.ourteam{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:var(--offer-color)
}

.imag{
    background-color: #FFFFFF;
}

.list .imag .fname{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--offer-color);
}

.list .imag .jobn{
        font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--useful-color)
}

.siteinf{
    font-style: normal;
}

.devstudio{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--useful-color);
}

.devstudio:hover, .devstudio:focus{
    color: #404bbf;
}

.namea{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:var(--offer-color)
}

.appb{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--useful-color)
}