:root {
    --primary-font: 'Roboto',sans-serif;
    --title-font: 'Raleway', sans-serif;
    --primary-accent-color:#4d5ae5;
    --offer-color:#2e2f42;
    --useful-color:#434455; 
    --background-color:#FFFFFF;
    --paragraph-color:#F4F4FD;
    --button-color:#e7e9fc;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


body{
font-family: 'Roboto', sans-serif;
color:var(--useful-color);
background-color:var(--background-color)
}

img {
    display: block;
}

ul 
{
    padding-left: 0;
    margin-left: 0;
    list-style-type: none;
}

li{
        padding-left: 0;
        margin-left: 0;
        list-style-type: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.navigation {
    display: flex;
    align-items: center;
}

.comm {
    font-style: normal;
    margin: 0 auto;
    margin-right: 76px;
     align-items: right;
}

.comm .mail {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--useful-color);
}

.logodiv{
    display: flex;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.comm .mail:hover,
.comm .mail:focus {
    color: #404bbf;
}

.studio{
    color: var(--offer-color)
}

.logo{
    font-family: "Raleway",sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--primary-accent-color);
    text-decoration: none;
    display: flex;
    margin-right: 76px;
}

.logof {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-accent-color);
    text-decoration: none;
    display: flex;
    margin-right: 76px;
    margin-bottom: 16px;
}

.link{
text-decoration: none;
}

.sectiont{
    padding-bottom: 120px;
}

.list {
    list-style: none;
    display: flex;
    gap: 40px;
}

.listf{
    display: flex;
    gap: 24px;
}

.icon{
    display: flex;
    gap: 24px;
}

.layb{
  width: calc((100% - 3 * 16px) / 3);

}

.sections{
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.src {

    padding: 24px 0;
}

.list .src:hover,
.list .src:focus {
    color: #404bbf;
}

.listc{
    display: flex;
    gap: 24px;
}

.felem{
    width: calc((100% - 72px) / 4);
}

.mheader {
    border-bottom: 1px solid #e7e9fc;
}

.sectionf{
    background-color:var(--offer-color);
    padding: 188px 0;
}

.head{
    font-size: 56px;
    margin: 0 auto;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff; 
    max-width: 496px;

}

.custombtn{
    background-color: #4D5AE5;
    display: block;
    min-width: 169px;
    margin: 0 auto;
    margin-top:30px;
    height: 56px;
    border: none;
    border-radius: 4px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}
.portb{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:var(--primary-accent-color);
    background-color:var(--paragraph-color);
    border: 1px solid var(--button-color);
    border-radius: 4px;
    padding: 12px 24px;
    cursor: pointer;
}

.portb:hover{
color: #FFFFFF;
background-color: #404BBF;
border: 1px solid transparent;
}
.portb:focus{
color: #FFFFFF;
background-color:#404BBF;
border: 1px solid transparent;
}

.customb:hover, .customb:focus{
 background-color: #404BBF;
}

.wawd{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:var(--offer-color);
    margin-bottom: 72px;

}

.down{
background-color:var(--offer-color);
padding: 100px 0;

}
.para{
    line-height: 1.5;
    color:var(--paragraph-color);
    letter-spacing: 0.02em;
    max-width: 264px;
}

.studioo{
    color:var(--paragraph-color)
}


.listb {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--offer-color);
    margin-bottom: 8px;
}

.parag {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--useful-color)
}

.sectionff{
    background-color: #F4F4FD;
    padding: 120px 0;

}

.ourteam{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:var(--offer-color);
    margin-bottom: 72px;
}

.imag{
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.jan{
    padding: 32px 16px;

}

.fname{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--offer-color);
        text-align: center;
        margin-bottom: 8px;
}

.jobn{
        font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--useful-color);
            text-align: center;
}

.siteinf{
    font-style: normal;
}

.devstudio{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--useful-color);
}

.devstudio:hover, .devstudio:focus{
    color: #404bbf;
}

.namea{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:var(--offer-color);
    margin-bottom: 8px;
}

.appb{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--useful-color)
}

.chaps{
    padding-top: 96px;
    padding-bottom: 120px;
}

.listj{
        display: flex;
        justify-content: center;
        gap: 24px;
        margin-bottom: 72px;
}

.listl{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}

.information{
    width: calc((100% - 48px) / 3);
}

.inform1{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}